body{
    background: rgb(143, 142, 142);
    margin: 0;
}
header{
    background: white;
    padding: 10px;
}
header h1{
    margin-top: 0;
}
div.post{
    background: white;
    margin-top: 10px;
}
div.post img{
    width: 100%;
}
div.post h2, div.post p{
    padding: 10px;
    margin: 0;
}
div.post .post-header div:first-child{
    display: inline-block;
    width: 80%;  
}
div.post .post-header div:last-child{
display: inline-block;
width: 20%;
text-align: right;
color: grey;
}
div.container{
    width: 600px;
    margin: auto;
}